# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
agent/agent

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
pythonenv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
